#search_content {
	margin-top: 125px;
	padding-left: 5vw;
	padding-right: 5vw;
}

.searchresults {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding-left: 5vw;
	padding-right: 5vw;
}

.search_header {
  text-align: left;

  font-size: 1.35em;
  font-weight: bold;
  color: #fff;
}

.search_tile {
	margin-bottom: 25px;
}