.similar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding-right: 5vw;

}

.similar_tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22.5%;
  height: 80%;
}

.similar_media {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-size: cover;
  margin-bottom: 10px;

  cursor: pointer;
}

.similar_media_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0)
}

.similar_media_overlay .tile__button {
  opacity: 0.01;
  height: 75px;
  width: 75px;
  border: 3px solid rgba(255,255,255,1);
  border-radius: 50%;
  background: transparent;
}

.similar_media_overlay .fa-play {
  transform: scale(1.5);
  color: rgba(255,255,255,1);
}

.similar_tile:hover .tile__button {
  opacity: 1;
  transition: 500ms opacity,
              250ms transform;
}

.similar_tile:hover .tile__button:hover {
  background: rgba(0,0,0,.4);
  transform: scale(1.2);
}

.similar_tile:hover .tile__button:hover .fa-play {
  color: red;
}

.similar_tile p {
  color: #888;
  font-weight: bold;
  margin-bottom: 5px;
}
