.navbar_placeholder {
	position: fixed;
	top: 0;
	height: 75px;
	width: 100vw; 

	border: 1px solid white;
	
	z-index: 99999;
}

.navbar_placeholder:hover {
	z-index: 0;
}

iframe {
	pointer-events: auto;
}