/*::-webkit-scrollbar {
  display: none;
}
*/
body {
  position: relative;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #131313;
  
}

.App {
  font-family: Helvetica;
}


.hero {
  top: 0;
  left: 0;
  right: 0;
  height: 75vh;
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position: top;  
}

.hero_overlay {

  height: 100%;
  width: 100%;
  padding-top: 90px;
  padding-left: 5vw;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(19,19,19,.5) 90%, rgba(19,19,19,1) 100%),
              linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,.95) 80%);
}

.hero_title {
  width: 50%;
  margin-bottom: 1.2em;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}

.hero_buttons {
  display: flex;
  width: 33%;
  margin-bottom: 1.2em;
}

.video_link {
  text-decoration: none;
}
.hero_play,
.hero_add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .57em 1.35em;
  margin-right: .75em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);

  cursor: pointer;
}

.hero_play {
  background-color: #e50914;
}

.hero_play {
  background-color: #ff0a16;
}

.hero_add {
  background-color: rgba(0,0,0,.4);
  border: 1px solid rgba(255,255,255,.4);
}

.hero_add:hover {
  background-color: rgba(51,51,51,.4)
}

.hero_buttons i {
  margin-right: .71em;
}

.hero_description {
  width: 45%;
  color: #fff ;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: .75px;
  text-shadow: 0px 0px 3px #000, -.5px -.5px #000, .5px .5px #000;
}


.moviesContainer {
  margin-top: -100px;
}

.movieCategoryRow {
  margin: 25px 0;
  overflow-y:visible;
}

.rowHeader {
  text-align: left;
  padding-left: 4vw;
  margin-bottom: -60px;

  font-size: 1.35em;
  font-weight: bold;
  color: #fff;
}

.movieRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.leftRowButton,
.rightRowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140.625px;
  width: 4vw;
  position: absolute;
  z-index: 200;

  color: #fff;
  background-color: rgba(0,0,0,.45);
}

.leftRowButton {
  left: 0;
}

.rightRowButton {
  right: 0;
}
.row {
  display: flex;
  position: relative;
  z-index: 2;
  width: 95%;
  padding: 70px 70px 70px 4vw;
  overflow-x: visible;
  overflow-y: visible;
}

.moviesCarousel,
.moviesCarousel-active {
  width: 80%;
  font-size: 0;
  white-space: nowrap;
  overflow-y: visible;
  transition: 450ms 150ms transform,
              600ms margin-left;
}



/*REFACTOR ALL OF THIS WITH SCSS LATER*/

.row:hover {
  overflow-y: visible;
}

.moviesCarousel:hover {
  transform: translateX(-125px);
}
.moviesCarousel:hover .movieTile {
  opacity: .3;
}

.moviesCarousel:hover .movieTile:first-child:hover {
  transform: scale(1.75) translateX(75px);
  opacity: 1;
}

.moviesCarousel:hover .movieTile:last-child:hover {
  transform: scale(1.75) translateX(-75px);
  opacity: 1;
}

.moviesCarousel:hover .movieTile:hover {
  transform: scale(1.75);
  opacity: 1;
}

.moviesCarousel:hover .movieTile:first-child:hover ~ .movieTile {
  transform: translate(316px);
}

.moviesCarousel:hover .movieTile:hover ~ .movieTile {
  transform: translate3d(187px, 0, 0);
}

