@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

::-webkit-scrollbar {
  width: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.testMovie {
  height: 253px;
  width: 400px;
  background-size: 100% 100%;
  margin: 10px 10px;

  flex-shrink: 0;
}

.moviesCarousel {
  display: flex;
  margin: 0 auto;
  padding: 5px 20px;
  width: 90%;
  overflow-x: scroll;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
