@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.movieCategoryRow {
  margin: 50px 0;
  overflow-y:visible;
}

.rowHeader {
  text-align: left;
  padding-left: 4vw;
  margin-bottom: -60px;
}

.movieRow {
  display: flex;
  align-items: center;
  width: 100%;
}

.leftRowButton,
.rightRowButton {
  height: 140px;
  position: absolute;
  z-index: 200;
}

.leftRowButton {
  left: 0;
}

.rightRowButton {
  right: 0;
}
.row {
  display: flex;
  position: relative;
  z-index: 2;
  width: 95%;
  padding: 70px 70px 70px 4vw;
  overflow-x: visible;
  overflow-y: visible;
}

.moviesCarousel {
  width: 80%;
  transition: 450ms 150ms transform,
              600ms margin-left;
  font-size: 0;
  white-space: nowrap;
  overflow-y: visible;
}

.movieTile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 2px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms 150ms all;
  transform-origin: center left;
}

.tile_img {
  width: 250px;
  height: 140.625px;
  object-fit: cover;
}

.tile__details {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.movieTile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.row:hover {
  overflow-y: visible;
}

.moviesCarousel:hover {
  transform: translate3d(-62.5px, 0, 0);
}
.moviesCarousel:hover .movieTile {
  opacity: .3;
}

.moviesCarousel:hover .movieTile:first-child:hover {
  transform: scale(1.5) translateX(50px);
  opacity: 1;
}

.moviesCarousel:hover .movieTile:last-child:hover {
  transform: scale(1.5) translateX(-50px);
  opacity: 1;
}

.moviesCarousel:hover .movieTile:hover {
  transform: scale(1.5);
  opacity: 1;
}

.movieTile:first-child:hover ~ .movieTile {
  transform: translate(200px);
}

.movieTile:hover ~ .movieTile {
  transform: translate3d(125px, 0, 0);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
